.container {
  color: #f5f5f5;
  text-shadow: 1px 1px 2px #d5d5d5;
  width: 1000px;
  margin: auto;
}

.container .logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: 800;
  color: #f5f5f5;
  text-shadow: 1px 1px 2px #d5d5d5;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.container .clock {
  width: 500px;
  margin: auto;
  margin-top: 190px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
}

.container .form {
  width: 500px;
  margin: auto;
  text-align: center;
  font-size: 40px;
}

.container .greetings-text {
  margin: 20px 0;
}

.container .input {
  width: 300px;
  text-align: center;
  font-size: 20px;
  color: #f5f5f5;
  text-shadow: 1px 1px 2px #d5d5d5;
  background-color: transparent;
  border-style: none;
  border-bottom: solid;
}

.container .input::placeholder {
  color: #f5f5f5;
  text-shadow: 1px 1px 2px #d5d5d5;
}

.container .input:focus {
  outline: none;
}

.container .todo-list {
  width: 500px;
  margin: auto;
}

.container .todoList__del {
  background-color: transparent;
  border-style: none;
  color: #c70a1c;
  font-size: 19px;
  font-weight: 300;
  margin-left: -5px;
}

.container .todoList__checkbox {
  vertical-align: 3px;
}

.container .todo-form {
  margin-bottom: 30px;
}

.container .todo {
  width: 300px;
  font-size: 20px;
  font-weight: 350;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container .weather {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

.hide {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  animation: fadeIn 0.5s linear;
}
